@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem !important;
  }
  a {
    font-size: 1.25rem !important;
  }
  p {
    font-size: 1rem !important;
  }
  #navbar {
    height: 3rem !important;
  }
  #project-tiles {
    scroll-margin-top: 3rem !important;
  }
}
html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  color: #E6ADD8;
}
a {
  text-decoration: none;
  color: #E6ADD8;
  font-size: 1.5rem;
}
p {
  font-size: 1.5rem;
}
#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #333333;
  border-bottom: black solid 5px;
}
#linkedin-link {
  padding-right: 16px;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  background-color: #555555;
  background-image: linear-gradient(45deg, #333333 0%, #555555 100%);
  color: #FFFFFF;
  height: 100vh;
  border-bottom: black solid 5px;
}
#page-title {
}
#project-tiles {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #A0EEC0;
  background-image: linear-gradient(45deg, #E6ADD8 0%, #ADD8E6 50%, #A0EEC0 100%);
  min-height: calc(100vh - 6vh - 50px);
  scroll-margin-top: 4rem;
  padding: 25px;
}
.navbar-button {
  display: flex;
  align-items: center;
  padding: 0 8px 0 8px;
  height: 100%;
}
.navbar-button:hover {
  background-color: #555555;
}
.project-tile {
  cursor: pointer;
  background-color: #555555;
  border: solid;
  text-align: center;
  min-height: 300px;
}
.tile-header {
  background-color: #333333;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tile-screenshot {
  height: 80%;
}
