@media (max-width: 500px) {
  p {
    font-size: 32px;
  }
}
#navbar {
  background-color: #666666;
  text-align: center;
  position: fixed;
  display: block;
  width: 100vw;
  padding: 5px;
  border-bottom: black solid 5px;
}
#welcome-section {
  background-color:#AAAAAA;
  color: #111111;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#page-title {
  padding-top: 40px;
}
#project-tiles {
  background-color: lightblue;
  height: 100%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
}
.project-tile {
  cursor: pointer;
  background-color: #666666;
  border: solid;
  text-align: center;
  min-height: 300px;
}
.tile-header {
  background-color: #333333;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
a {
  color: #E6ADD8;
}
body {
  margin: 0;
  padding: 0;
}
h2 {
  color: #E6ADD8;
}
