@media screen and (max-width: 900px) {
  h1 {
    font-size: 2rem !important;
  }
  a {
    font-size: 1.25rem !important;
  }
  p {
    font-size: 1rem !important;
  }
  #navbar {
    height: 3rem !important;
  }
  .navbar-button {
    font-size: 1rem !important;
  }
  #profile-picture {
    width: 50% !important;
  }
  #project-tiles {
    scroll-margin-top: 3rem !important;
  }
  form {
    width: 75% !important;
  }
}
html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
h1 {
  font-size: 4rem;
  margin: 24px 0 24px 0;
}
h2 {
  color: #73c2fb;
}
a {
  text-decoration: none;
  color: #73c2fb;
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
}
img {
  object-fit: cover;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #333333;
  border-top: black solid 5px;
  color: #73c2fb;
}
#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #333333;
  border-bottom: black solid 5px;
}
#linkedin-link {
  padding-right: 16px;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #555555;
  background-image: linear-gradient(45deg, #333333 0%, #555555 100%);
  color: #FFFFFF;
  height: calc(100vh - 4rem - 5px);
  padding: calc(4rem + 5px) 8px 0 8px;
  scroll-margin-top: calc(4rem + 5px);
}
#profile-picture-wrapper {
  padding: 24px 0 0 0;
}
#profile-picture {
  width: 20%;
  border-radius: 100%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

}
#project-tiles {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #A0EEC0;
  background-image: linear-gradient(45deg, #e6add8 0%, #ADD8E6 50%, #A0EEC0 100%);
  min-height: calc(100vh - (4rem + 5px));
  scroll-margin-top: 4rem;
  padding: 25px;
}
#contact-header {
  margin: 0 0 16px 0;
  color: #fff;
}
#contact {
  /* vh - height of header and footer + border */
  height: calc(100vh - (8rem + 5px));
  text-align: center;
  background-color: #555555;
  background-image: linear-gradient(45deg, #333333 0%, #555555 100%);
  scroll-margin-top: 4rem;
}
#contact>h2 {
  margin: auto;
  color: #fff;
}
#contact-form {
  flex-direction: column;
}
#contact-message {
  resize: none;
}
form {
  display: flex;
  justify-content: center;
  padding: 24px;
  width: 33.33%;
  background-color: rgb(0, 0, 0, .33);
  border-radius: 1rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
label {
  color: #fff;
}
input, textarea {
  /* width minus border width and padding */
  width: calc(100% - (4px + 16px));
  padding: 8px 8px 8px 8px;
  margin: 0 0 0 0;
  border: 2px #73c2fb solid;
  border-radius: .5rem;
  background-color: rgb(0, 0, 0, .15);
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
}
.first-form-element, .last-form-element, .form-element {
  width: 100%;
  text-align: left;
}
.form-element {
  padding: 16px 0 0 0;
}
.first-form-element {
  padding: 0;
}
.last-form-element {
  padding: 16px 0 16px 0;
}
.form-element-wrapper {
  display: flex;
}
.form-label-wrapper {
  padding: 0 0 8px 0;
}
.red-asterisk {
  color: #FE2712;
}
button {
  padding: 8px;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-color: #73c2fb;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
button:hover {
  background-color: #5690ba;
}
button:active {
  transform:scale(.95)
}
button:disabled {
  background-color: red;
}
.navbar-button {
  display: flex;
  align-items: center;
  padding: 0 8px 0 8px;
  height: 100%;
}
.navbar-button:hover {
  background-color: #555555;
}
.project-tile {
  cursor: pointer;
  background-color: #555555;
  border: solid;
  text-align: center;
  height: 300px;
}
.tile-header {
  background-color: #333333;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tile-screenshot {
  height: 80%;
}
